* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-icons.light {
  color: #fff !important;
}

#container {
  margin: 0.7rem 5rem;
}

body {
  background-color: rgb(246, 246, 246);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mobile-bg {
  display: none;
}

header {
  width: 100%;
  height: 3rem;
  margin-bottom: 3rem;
}

header nav {
  height: 100%;
}

header nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unique {
  text-align: left;
}

.logo {
  color: #12163e;
}

.btn {
  outline: none;
  appearance: none;
  border: none;
  background: #12163e;
  color: rgb(230, 226, 226);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  text-transform: capitalize;
  box-shadow: 0.5px 1px 2px black;
}

#colored {
  background: linear-gradient(to bottom, #fd6f48, #f53d8d);
  color: rgb(230, 226, 226);
}

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem;
}

.hero-sec {
  width: 100%;
}

.hero img {
  width: 100%;
  height: 70vh;
  right: 0%;
}

.hero-sub {
  position: relative;
}

.hero-inner-sub {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.hero-inner-sub h2 {
  color: #12163e;
  font-weight: 800;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.hero-inner-sub p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: rgb(82, 78, 78);
}

.courses {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%;
  margin-bottom: 6rem;
}

.course {
  padding: 9%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(242, 240, 240);
  border-radius: 0.8rem;
  margin-bottom: 1.7rem;
  box-shadow: 0.3px 8px 20px rgb(205, 198, 198);
  position: relative;
}

.course h3,
span {
  width: 100%;
  text-align: left;
  padding: 1rem 0rem;
  font-weight: 800;
}

.course span {
  color: #f53d8d;
}

.course p {
  color: rgb(82, 78, 78);
}

.icon-carrier {
  width: 3rem;
  height: 3rem;
  align-self: start;
  border-radius: 50px;
  position: absolute;
  position: relative;
  top: -6.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#colored .icon{
  margin-left: .7rem;
}

footer {
  width: 100%;
  height: 4rem;
  background: #12163e;
  margin-bottom: 0;
}

.logo-white {
  color: rgb(230, 226, 226);
}

footer nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer nav {
  height: 100%;
}

footer nav ul li {
  margin: 0 4%;
}

.footer-colored {
  background: linear-gradient(to bottom, #7547e7, #bb38b2);
  color: rgb(230, 226, 226);
}

@media (max-width: 768px) {
  #container {
    margin: 0.8rem 2rem;
  }

  .courses {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4%;
    margin-bottom: 6rem;
  }

  .hero {
    margin-bottom: 5rem;
  }

  .hero-inner-sub {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 380px) {
  #container {
    margin: 0.8rem 1rem;
  }

  .mobile-bg {
    display: unset;
  }

  .laptop-bg {
    display: none;
  }

  .hero {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
  }

  .hero-inner-sub h2 {
    margin-bottom: 1.4rem;
  }

  .hero .btn {
    margin-top: -2rem;
    width: 50%;
    padding: 0.6rem;
  }

  .img img {
    margin-top: 4rem;
    width: 100%;
    height: 60%;
  }

  .courses {
    margin-top: -7.6rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1%;
    margin-bottom: 6rem;
  }
}
